.my-gallery { 
	width:280px;
  vertical-align:middle;
  border: 0;
	object-fit:contain;
	  display: block;

}

.my-gallery a {
vertical-align:middle;
}
.my-gallery figure {
  display: block;
  margin: 0 5px 5px 0;
  vertical-align:middle;

}
.my-gallery figcaption {
  display: none;
}