.my-gallery {
  width: auto\9;
  height: auto;
  max-width: 100%;
  border: 0;
  float: left;
}
.my-gallery img {
  width: auto\9;
  height: auto;
  max-width: 100%;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: auto\9;
  height: auto;
}
.my-gallery figcaption {
  display: none;
}